@model SportNews.Models.RoundInfo
@{
    ViewBag.Title = "";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a, a:hover {
        cursor: pointer;
    }

    /*.blink_me {
        animation: blinker 1s linear infinite;
    }*/
</style>
@*<hr />*@
<div class="panel panel-success">
    <div class="panel-heading">
        <b>Lịch thi đấu, kết quả cập nhật</b>
    </div>
    <div class="panel-body">
        @*@foreach (var data in Model.Schelst)
            {*@
        @*<div class="panel panel-default">*@
        @*<div class="panel-heading">@data.RoundName</div>*@
        @*<div class="panel-body">*@
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3">Trận đấu</th>
                        @*<th></th>
                    <th>Match</th>*@
                        @*<th>Soi kèo</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.Schelst)
                    {
                        <tr id="@data.HomeTeam+@data.AwayTeam^@data.MatchId">
                            <td style="text-align:right">
                                @data.HomeTeam&nbsp;&nbsp;<img src="@data.HomeFlag" height="21" width="21" />
                                <br />
                                @data.timeSt
                            </td>
                            <td>
                                <a class="lnkpr">
                                    @data.HomeScore&nbsp;-&nbsp;@data.AwayScore
                                </a>
                            </td>
                            <td style="text-align:left">
                                <img src="@data.AwayFlag" height="21" width="21" />&nbsp;&nbsp;@data.AwayTeam&nbsp;&nbsp;

                                @if (data.status == "6" || data.status == "7")
                                {
                                    @*<p>@dat.timeIn'</p>*@
                                    <span class="blink_me" style="color:red">@data.timeIn'</span>
                                }
                                else
                                {
                                    <span>@data.timeIn</span>
                                }
                            </td>
                            @*<td>
                            @if (data.status == "6" || data.status == "7")
                            {
                                <span class="blink_me" style="color:red">@data.timeIn'</span>
                            }
                            else
                            {
                                <span>@data.timeIn</span>
                            }
                        </td>
                        <td>
                            <a class="lnkpr">
                                <img src="@data.HomeFlag" height="21" width="21" />&nbsp;&nbsp;@data.HomeTeam&nbsp;&nbsp;@data.HomeScore
                                <br />
                                <img src="@data.AwayFlag" height="21" width="21" />&nbsp;&nbsp;@data.AwayTeam&nbsp;&nbsp;@data.AwayScore
                            </a>
                        </td>*@
                            @*<td>
                            <a class="lnksk">
                                Watch
                            </a>
                        </td>*@
                        </tr>

                    }
                </tbody>
            </table>
        </div>
       
        <a class="lnkmo">
            <label>Xem thêm...</label>
        </a>
        @*</div>*@
        @*</div>*@
        @*}*@
    </div>
</div>
<script type="text/javascript">
    //$(".blink_me").fadeTo('slow', 0.5).fadeTo('slow', 1.0);

    $(document).ready(function () {

        $('.lnkpr').click(function (e) {
            var mid = $(this).closest('tr').attr('id')
            e.preventDefault();
            $.ajax({
                url: '/Home/MatchDetail',
                type: 'GET',
                async: false,
                dataType: 'html',
                data: {
                    match: $(this).closest('tr').attr('id')
                },
                success: function (data) {
                    //$('#match').html(data);
                    window.location = '@Url.Action("MatchDetail", "Home")?match=' + mid
                    //setTimeout(function () {
                    //    location.reload();
                    //}, 15000);
                    //e.target;
                    //e.relatedTarget;
                }
            });
            return false;
        }
            );

        $('.lnksk').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Home/SoiKeo',
                type: 'GET',
                async: false,
                dataType: 'html',
                data: {
                    id: $(this).closest('tr').attr('id')
                },
                success: function (data) {
                    $('#match').html(data);
                    //e.target;
                    //e.relatedTarget;
                }
            });
            return false;
        }
            );

        $('.lnkmo').click(function (e) {
            e.preventDefault();
            window.location.href = '/Home/Wc18Detail/';
            return false;
        }
            );

    });
</script>
